<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de empleados</span>
      <button class="btn btn-info btn-lg float-right" routerLink="/createEmpleado">Agregar</button>
      <h5 style="margin-top: 30px;" *ngIf="empleados.length == 0">no hay datos para mostrar</h5>
      <!-- *ngIf="empleados.length > 0"    solo se muestra la tabla cuando tiene almenos un registro -->
      <table *ngIf="empleados.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Documento</th>
            <th scope="col">Salario</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <th>{{ empleado.nombre }}</th>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.documento }}</td>
            <td>{{ empleado.salario | currency }}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info mr-2" [routerLink]="['/editEmpleado/', empleado.id]"></i>

              <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>